.speech {
    font-family:'Courier New', Courier, monospace;
    font-size: 24;
    color: black;
}

.direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 12;
    color: black;
    background-color: aqua;
}

.direction:hover{
    background-color: goldenrod;
    color: crimson;
}

.MRS.X{
    color:blue;
}

.MRS.Y{
    color:deeppink;
}

.table{
    border:solid 3px;
    color: darkgreen;
    text-align: center;
    padding: 0.5px;
    margin: 1;
}
tr {background-color:rgb(137, 211, 134) ;}
tr:nth-child(even) {background-color: #e2e2e2;}