body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
  }

.speech {
    font-family:'Courier New', Courier, monospace;
    font-size: 24;
    color: black;
}

.direction {
    font-family:'Times New Roman', Times, serif;
    font-size: 12;
    color: black;
    background-color: aqua;
}

.direction:hover{
    background-color: goldenrod;
    color: crimson;
}

.MRS.X{
    color:blue;
}

.MRS.X:hover{
    text-shadow:2px 3px 5px green;
    border: dotted 2px aqua;
}

.MRS.Y{
    color:deeppink;
}

.table{
    border:solid 3px;
    color: darkgreen;
    text-align: center;
    padding: 0.5px;
    margin: 1;
}
tr {background-color:rgb(137, 211, 134) ;}
tr:nth-child(even) {background-color: #e2e2e2;}

.navbar ul{
    list-style: none;
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover{
    background: green;
}

.linkcls{
    padding: 10px;

  }